<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class="<%= is_active_link?(edit_user_registration_path) %>" ><%= link_to '+ New Story', new_story_path %></li>  
  <li class="<%= is_active_link?(edit_user_registration_path) %>" ><%= link_to 'Discover', stories_path %></li>  
  <li class="<%= is_active_link?(edit_user_registration_path) %>" ><%= link_to 'Settings', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class="<%= is_active_link?(page_path('about')) %>" ><%= link_to "How it works", page_path('about') %></li>  
  <li class="<%= is_active_link?(new_user_session_path) %>" ><%= link_to 'Sign in', new_user_session_path %></li>
<li class="<%= is_active_link?(new_user_registration_path) %>" ><%= link_to 'Register', new_user_registration_path %></li>
<% end %>